<div class="text-center">
    <h4>Page Not Found</h4>
    <h1>404</h1>
    <h1>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi commodi dicta doloremque doloribus eos eum expedita fuga fugit inventore iste nemo neque, nihil odit quas repudiandae sapiente, sequi veritatis voluptatem.
    </h1>
</div>