<div ng-controller="MainController">
    <!-- LOADER -->
    <div ng-show="loading" class="loader">
        <div class="loader__inner text-center">
            <img src="images/loader.gif" alt="">
            <p>
                {{loadedImages}} / {{imagesPerPage}} <br>
                images loaded
            </p>
        </div>
    </div>
    <!-- LOADER -->


    <!-- HEADER -->
    <header class="header">
        <div class="welcome margin-bottom-default mx-auto row">
            <div class="col-12 text-center">
                <h1>Flickr Photos</h1>
            </div>
        </div>
    </header>
    <!-- HEADER -->

    <section class="container">
        <div class="row">

            <!-- FILTER -->
            <div class="col-12 col-lg-4">
                <div class="filter-wrapper">
                    <ul ng-repeat="(key, props) in filters">
                        <li>
                            <p toggle-class="open">{{key}}</p>
                            <input type="checkbox" id="{{key}}" ng-click="filterUpdate(key, $event)">
                            <label for="{{key}}"></label>
                            <ul>
                                <li ng-repeat="(classkey, classprop) in props">
                                    <p toggle-class="open">{{classkey}}</p>
                                    <input type="checkbox" id="{{classkey}}" ng-click="filterUpdate(classkey, $event)">
                                    <label for="{{classkey}}"></label>
                                    <ul>
                                        <li ng-repeat="(y, x) in classprop">
                                            {{y}}
                                            <input type="checkbox" id="{{y}}" ng-click="filterUpdate(y, $event)">
                                            <label for="{{y}}"></label>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- FILTER -->

            <!-- SEARCH FORM -->
            <div class="col-12 col-lg-8 margin-bottom-default">
                <form ng-submit="search(text, filterElems, imagesPerPage)" class="row" role="form">
                    <div class="col-12 d-flex justify-content-end flex-column">
                        <label for="search-text" class="label-text">Search by text</label>
                        <input type="text" class="form-control" id="search-text" placeholder="Search!" ng-model="text" autocomplete="off">
                    </div>
                    <div class="col-12 col-sm-8 d-flex justify-content-end flex-column">
                        <label for="search-num" class="label-text">Images per page</label>
                        <input type="number" class="form-control" id="search-num" ng-model="imagesPerPage" min="1" max="500" autocomplete="off">
                    </div>
                    <div class="col-12 col-sm-4 d-flex justify-content-end flex-column">
                        <button type="submit" class="btn btn-default" id="flickr-search-button">Search</button>
                    </div>
                </form>
            </div>
            <!-- SEARCH FORM -->
        </div>
    </section>

    <section class="main container">
        <div class="row">
            <div class="col-12">

                <!-- TAGS -->
                <div class="row" ng-hide="filterElems.length == 0">
                    <article class="col-12 text-center">
                        <h2 class="margin-bottom-default">Active filters</h2>
                        <div class="tag-wrapper">
                            <div class="tag" ng-repeat="filter in filterElems">
                                <span>{{filter}}</span>
                                <span class="cross" ng-click="filterRemove(filter)" un-check>X</span>
                            </div>
                        </div>
                    </article>
                </div>
                <!-- TAGS -->

                <!-- RESULTS -->
                <div class="row">
                    <article class="col-12 text-center">
                        <h3 class="margin-bottom-default">
                            <span class="d-block" ng-show="text">Results for {{text}}</span>
                            <span class="d-block" ng-show="totalFound">(Total : {{totalFound}})</span>
                            <span class="d-block" ng-show="noResults">No results found</span>
                        </h3>
                    </article>
                </div>
                <!-- RESULTS -->

            </div>

            <!-- IMAGE CONTAINER -->
            <div ng-hide="noResults" class="flickr-photos col-12">
                <div class="relative w-100">
                    <div ng-hide="loading" ng-repeat="photo in photos" class="flickr-photo">
                        <img src="http://farm{{photo.farm}}.static.flickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}.jpg" alt="" imageonload>
                        <div class="flickr-photo__description">
                            <article class="flickr-photo__description__inner">
                                <h2>
                                    {{photo.title}}
                                </h2>
                                <p class="h2">
                                    <a href="https://www.flickr.com/photos/{{photo.owner}}" target="_blank">
                                        <span class="icomoon-user">&nbsp;</span>More from user
                                    </a>
                                </p>
                                <p class="h2">
                                    <a href="http://farm{{photo.farm}}.static.flickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}.jpg" download>
                                        <span class="icomoon-download2">&nbsp;</span>Download
                                    </a>
                                </p>
                                <p class="h2">
                                    <a href="http://farm{{photo.farm}}.static.flickr.com/{{photo.server}}/{{photo.id}}_{{photo.secret}}.jpg" target="_blank">
                                        <span class="icomoon-eye">&nbsp;</span>Open in new window
                                    </a>
                                </p>
                                <p class="h2">
                                    <span class="icomoon-image">&nbsp;</span>Size : {{photo.sizes.Width}}x{{photo.sizes.Height}}
                                </p>
                            </article>
                        </div>
                    </div>
                </div>
            </div>
            <!-- IMAGE CONTAINER -->

        </div>
    </section>

    <scroll-on-click></scroll-on-click>
</div>