/******************************************************************

Helpers

******************************************************************/

.block {
  display: block;
}

.italic {
    font-style:italic;
}

.hidden {
    display:none !important;
}

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.overflow-fix {
    overflow: hidden;
}

.nounderline {
  text-decoration: none !important;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.lowercase {
  text-transform: lowercase !important;
}

small {
    font-size: 80%;
}

strong {
    font-weight: 600;
}

.container {
    position: relative;
}

.image-circle {
    border-radius: 50%;
}

.image-responsive {
  max-width: 100%;
  height: auto;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.last {
    margin-right: 0 !important;
}

.text-hide {
  color: transparent;
  font-size: 0;
  text-shadow: none;
  vertical-align: middle;
}

.fixed {
    position: fixed;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.full-width {
    width: 100%;
}

.half-width {
    width: 50%;
}

.center {
    margin: 0 auto;
}

.margin-bottom {

  &-default {
    margin-bottom: 25px;
  }

  &-sm {
    margin-bottom: 10px;
  }

  &-lg {
    margin-bottom: 40px;
  }
}

.ng-hide {
  display: none !important;
}