/*** Project icons ***/

/* icomoon START */

// include icomoon icons font
@include css3-font-face(icomoon, icomoon);

// setup icomoon
@mixin icomoon() {
	font-family: 'icomoon';
	font-style: normal;
	font-variant: normal;
	font-weight: normal;
	line-height: 1;
	speak: none;
	text-transform: none;

	// Better Font Rendering
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icomoon,
[class^="icomoon-"],
[class*=" icomoon-"] {
	@include icomoon();
}

.icomoon-image:before {
	content: "\e90d";
}
.icomoon-user:before {
	content: "\e971";
}
.icomoon-download2:before {
	content: "\e9c5";
}
.icomoon-eye:before {
	content: "\e9ce";
}
.icomoon-circle-up:before {
	content: "\ea41";
}
/* icomoon END */
