/******************************************************************

Mixins

******************************************************************/


@mixin transition($transition...) {
  // defining prefixes so we can use them in mixins below
  $prefixes:      ("-webkit-", "" );
  @each $prefix in $prefixes {
    #{$prefix}transition: $transition;
  }
}

/*********************
CSS3 GRADIENTS
*********************/

@mixin css-gradient($from: #dfdfdf, $to: #f8f8f8) {
	background-color: $to;
	background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
	background-image: -webkit-linear-gradient(top, $from, $to);
	background-image: -moz-linear-gradient(top, $from, $to);
	background-image: -o-linear-gradient(top, $from, $to);
	background-image: linear-gradient(to bottom, $from, $to);
}

/*********************
BOX SIZING
*********************/

@mixin box-sizing($type: border-box) {
	-webkit-box-sizing: $type;
	-moz-box-sizing:    $type;
	-ms-box-sizing:     $type;
	box-sizing:         $type;
}

/*********************
CSS3 PREFIX
*********************/

@mixin css3-prefix($property, $value) {
	-webkit-#{$property}: #{$value};
	-khtml-#{$property}: #{$value};
	-moz-#{$property}: #{$value};
	-ms-#{$property}: #{$value};
	-o-#{$property}: #{$value};
	#{$property}: #{$value};
}

/*********************
CSS3 BOX SHADOW
*********************/

@mixin css3-box-shadow($x: 2px, $y: 2px, $blur: 5px, $color: rgba(0,0,0,.4), $inset: "") {
	@if ($inset != "") {
		@include css3-prefix('box-shadow', $inset $x $y $blur $color);
	} @else {
		@include css3-prefix('box-shadow', $x $y $blur $color);
	}
}

/*********************
CSS3 COLUMNS
*********************/

@mixin css3-columns($count: 3, $gap: 10) {
	@include css3-prefix('column-count', $count);
	@include css3-prefix('column-gap', $gap);
}

/*********************
CSS3 TRANSITION
*********************/

@mixin css3-transition($what: all, $length: 1s, $easing: ease-in-out) {
	@include css3-prefix('transition', $what $length $easing);
}
// default
@mixin project-default-transition() { @include css3-transition(all, 0.5s, ease); will-change: transform, transition, opacity;}

/*********************
CSS3 TRANSFORM
*********************/

@mixin css3-transform($params) {
	@include css3-prefix('transform', $params);
}

/*********************
CSS3 FONT FACE
*********************/

@mixin css3-font-face($new-font-name, $new-font-filename) {
	@font-face {
		font-family: '#{$new-font-name}';
		src: url('../fonts/#{$new-font-filename}.eot');
		src: url('../fonts/#{$new-font-filename}.eot?#iefix') format('embedded-opentype'),
		url('../fonts/#{$new-font-filename}.woff') format('woff'),
		url('../fonts/#{$new-font-filename}.ttf') format('truetype'),
		url('../fonts/#{$new-font-filename}.svg##{$new-font-name}') format('svg');
		font-weight: normal;
		font-style: normal;
	}
}

