/******************************************************************

Typography

******************************************************************/

/* ===============================
     fonts
   =============================== */
$font: "Open Sans", Helvetica, Arial, sans-serif;
$font-italic:  Cambria, Times New Roman, Times, serif;
$font-bold: Helvetica, Arial, sans-serif;
$font-semibold: Helvetica, Arial, sans-serif;
$font-extrabold: Helvetica, Arial, sans-serif;
$font-extralightitalic: Helvetica, Arial, sans-serif;

/* ===============================
     sizes
   =============================== */
$large: 28px;
$medium: 20px;
$small: 14px;

/* ===============================
     weights
   =============================== */
$thin: 300;
$normal: 400;
$semi-bold: 600;
$bold: 700;
$extra-bold: 900;

p {
  -ms-word-wrap: break-word;
  word-break: break-word; //non-standart css for webkit
  word-wrap: break-word;
  // cleaning up the ragged lines and breaks
  -webkit-hyphens: auto;
     -moz-hyphens: auto;
          hyphens: auto;
  // sets a minimum number of characters before and after the break
  -webkit-hyphenate-before: 2;
   -webkit-hyphenate-after: 3;
           hyphenate-lines: 3;
  // enabling fancy ligatures when available
  -webkit-font-feature-settings: "liga", "dlig";
   -moz-font-feature-settings: "liga=1, dlig=1";
      -ms-font-feature-settings: "liga", "dlig";
       -o-font-feature-settings: "liga", "dlig";
          font-feature-settings: "liga", "dlig";
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

label.label-text {
  color: $orange;
  font-weight: bold;
  font-size: 1.4em;
  padding: 0;
  position: relative;
  display: inline-table;
}

h1,
.h1 {
  font-size: 2.8em;
  line-height: 1em;
  color: $orange;
  font-weight: bold;
  display: inline;
  position: relative;

  &:after {
    content: '';
    width: 25%;
    background-color: $orange;
    height: 5px;
    position: absolute;
    left: 0;
    bottom: 0px;
  }
}

h2,
.h2 {
  font-size: 2em;
  line-height: 1em;
  color: $dark-gray;
  font-weight: bold;
}

h3,
.h3 {
  font-size: 1.7em;
  line-height: 1em;
  color: $dark-gray;
  font-weight: bold;
}

h4,
.h4 {
  font-size: 1.5em;
  line-height: 1em;
  color: $dark-gray;
  font-weight: bold;
}

h5,
.h5 {
  font-size: 1.2em;
  line-height: 1em;
  color: $dark-gray;
  font-weight: normal;
}

h6,
.h6 {
  font-size: 1em;
  line-height: 1em;
  color: $dark-gray;
  font-weight: normal;
}

a {
  @include project-default-transition;
  color: $white;
  cursor: pointer;
  text-decoration: underline;

  span {
    display: inline-block;
  }
  
  &:hover {
    color: $dark-gray;
  }
}
