/******************************************************************

Variables

******************************************************************/

$black:             #231f20;
$white:             #fff;
$blue:              #1686d4;
$orange:            #e36c2c;
$brown:            #b43e11;


$light-gray:        #f8f9fa;
$gray:              #eaedf2;
$text-color:        #5c6b80;
$dark-gray:         #292929;

$border-color:              #ccc;
$disabled-gray:             #cfcfcf;
$alert-red:					red;
$alert-green:				#645564;
$alert-blue:				blue;