/******************************************************************

Buttons

******************************************************************/

.btn {
  height: 60px;
  border-radius: 0;
  color: $white;
  font-weight: bold;
  min-width: 165px;
  text-transform: uppercase;
  box-shadow: 0px 0px 20px -3px black;
  border: 0;
  width: 100%;
  @extend .margin-bottom-default;
  background: -webkit-gradient(linear,left top, left bottom,from($orange),to($brown));
  background: -webkit-linear-gradient($orange,$brown);
  background: -o-linear-gradient($orange,$brown);
  background: linear-gradient($orange,$brown);

  // desktop
  @include media-breakpoint-up(xl) {
    @include project-default-transition;

    &:hover {
      @include css3-transform(scale(1.05));
    }
  }
}