// Bootstrap
@import "../bower_components/bootstrap/scss/bootstrap";

// Normalize
@import "partials/normalize";

// Sass variables
@import "partials/variables";

// Helpers
@import "partials/helpers";

// Import mixins
@import "partials/mixins";

// Typography
@import "partials/typography";

// icons
@import "partials/icons";

/*********************
IMPORTING MODULES
*********************/

// buttons
@import "modules/buttons";

// forms (inputs & labels)
@import "modules/forms";

@media print {

	// styles in print.scss
	@import "partials/print";

}

body {
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	background-color: $white;
	color: $text-color;
	font-family: $font;
	font-size: 100%;
	line-height: 1.5;
}

html {
	height: 100%;
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

.welcome {
	background-image: url("../images/welcome-bg.png");
	min-height: 40vh;
	max-width: 1920px;
	position: relative;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	@include css3-box-shadow(0,0,20px);

	> div {
		position: absolute;
		top:50%;
		@include css3-transform(translateY(-50%));
	}
}

.flickr-photo {
	@include css3-box-shadow(0,0,20px);
	margin-bottom: 20px;
	position: relative;
	overflow: hidden;
	display: inline-block;
	background-color: $dark-gray;

	> img {
		height: 100%;
		position: absolute;
		left: 50%;
		top: 50%;
		@include project-default-transition;
		@include css3-transform(translate(-50%, -50%))
	}

	&:hover {
		.flickr-photo__description {
			@include css3-transform(translateY(-100%));
		}

		img {
			@include css3-transform(translate(-50%, -50%) scale(1.05))
		}
	}

	&__description {
		@include project-default-transition;
		position: absolute;
		width: 100%;
		height: 100%;
		bottom: -100%;
		left: 0;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(10%, transparent), to($orange));
		background: -webkit-linear-gradient(transparent 10%, $orange);
		background: -o-linear-gradient(transparent 10%, $orange);
		background: linear-gradient(transparent 10%, $orange);

		&__inner {
			padding: 10px 15px;
			position: absolute;
			bottom: 0;
			left: 0;
			width: 100%;
		}

		h2 {
			margin-bottom: 20px;
			font-size: 1.2em;
		}

		h2,
		.h2 {
			color: $white;
			font-weight: bold;
			font-size: 1em;

			-ms-word-wrap: break-word;
			word-break: break-word; //non-standart css for webkit
			word-wrap: break-word;
			// cleaning up the ragged lines and breaks
			-webkit-hyphens: auto;
			-moz-hyphens: auto;
			hyphens: auto;
			// sets a minimum number of characters before and after the break
			-webkit-hyphenate-before: 2;
			-webkit-hyphenate-after: 3;
			hyphenate-lines: 3;
			// enabling fancy ligatures when available
			-webkit-font-feature-settings: "liga", "dlig";
			-moz-font-feature-settings: "liga=1, dlig=1";
			-ms-font-feature-settings: "liga", "dlig";
			-o-font-feature-settings: "liga", "dlig";
			font-feature-settings: "liga", "dlig";
		}
	}
}

.loader {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: $white;
	z-index: 10;
	@include project-default-transition;
	opacity: 1;
	pointer-events: all;
	overflow: hidden;
	visibility: visible;

	&.ng-hide {
		display: block !important;
		opacity: 0;
		pointer-events: none;
		overflow: hidden;
		visibility: hidden;
	}
	
	&__inner {
		@include css3-transform(translate(-50%, -50%));
		position: absolute;
		top: 50%;
		left: 50%;
		display: flex;
		flex-direction: column;
		align-items:center;
		justify-content: center;
		
		p {
			font-size: 2.7em;
			font-weight: bold;
			color: $dark-gray;

			// mobile horizontal only
			@include media-breakpoint-only(sm) {
				margin-top: -100px;
			}
		}

		// only on mobile horizontal (min. 480px width + max. 767px width + max. 479px height)
		@media (min-width: 480px) and (max-width: 767px) and (max-height: 479px) {
			img {
				margin-top: -20vh;
			}

			p {
				margin-top: -25vh;
			}
		}
	}
}

.nested-ul {
	&-closed {
		@include project-default-transition;
		padding-left: 15px;
		max-height: 0;
		pointer-events: none;
		overflow: hidden;
	}

	&-opened {
		max-height: 400px;
		height: auto;
		overflow: auto;
		pointer-events: all;
	}
}


.filter-wrapper {
	@include css3-box-shadow(0,0,20px);
	background: -webkit-gradient(linear,left top, left bottom,from($orange),to($brown));
	background: -webkit-linear-gradient($orange,$brown);
	background: -o-linear-gradient($orange,$brown);
	background: linear-gradient($orange,$brown);
	padding: 20px 15px;
	margin-bottom: 25px;

	p {
		color: $white;
		cursor: pointer;
		margin-bottom: 0;
	}
	
	li {
		color: $white;
		position: relative;
		font-weight: bold;
		line-height: 2em;
		font-size: 17px;
	}

	input {
		position: absolute;
		right: 0;
		top:0;
		height: 2em;
		width: 2em;
	}

	> ul {
		> li {
			> ul {
				@extend .nested-ul-closed;

				&.open {
					@extend .nested-ul-opened;
				}

				> li {
					> ul {
						@extend .nested-ul-closed;

						&.open {
							@extend .nested-ul-opened;
						}
					}
				}
			}
		}
	}
}

.tag-wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-left: -10px;
	margin-right: -10px;

	.tag {
		@include css3-box-shadow(0,0,20px);
		min-width: 160px;
		text-align: center;
		color: $white;
		//background-color: $dark-gray;
		padding: 5px 15px;
		margin: 0 10px 20px 10px;
		font-weight: bold;
		background: -webkit-gradient(linear,left top, left bottom,from($orange),to($brown));
		background: -webkit-linear-gradient($orange,$brown);
		background: -o-linear-gradient($orange,$brown);
		background: linear-gradient($orange,$brown);
		
		// desktop
		@include media-breakpoint-up(xl) {
			@include project-default-transition;

			&:hover {
				@include css3-transform(scale(1.05));
			}
		}

		.cross {
			cursor: pointer;
			float: right;
			min-width: 20px;
		}
	}
}

.scrollup {
	@include project-default-transition;
	bottom: 50px;
	height: 72px;
	width: 72px;
	position: fixed;
	right: 90px;
	font-size: 4.5em;
	color: $orange !important;
	opacity: 0;
	visibility: hidden;

	// tablet vertical only
	@include media-breakpoint-only(md) {
		font-size: 3.5em;
		right: 20px;
		bottom: 20px;
		width: 56px;
		height: 56px;
	}

	// mobile
	@include media-breakpoint-down(sm) {
		font-size: 2.5em;
		right: 10px;
		width: 40px;
		height: 40px;
		bottom: 10px;
	}

	&.visible {
		opacity: 1;
		visibility: visible;
	}
}